# Terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/plan.txt
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfvars
!terraform/example.tfvars

# Ansible
ansible/inventory
ansible/roles/*
!ansible/roles
!ansible/roles/.gitkeep
ansible/collections/*
!ansible/collections/.gitkeep
ansible/vault_password
