# Terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/plan.txt
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfvars
!terraform/example.tfvars

# Ansible
ansible/crypt_vars/all.yml
ansible/crypt_vars/strapi.yml
ansible/crypt_vars/database.yml
ansible/inventory
ansible/roles/*
!ansible/roles
!ansible/roles/.gitkeep
ansible/collections/*
!ansible/collections/.gitkeep
ansible/vault_password
ansible/other_vars/tf_ssh.yml
ansible/host_vars/*
!ansible/host_vars/.gitkeep
ansible/ssh_keys/*
ansible/ssh_keys/example_user.pub

