---
# All
root_ssh_key: ${public-ssh-key}

# Database
strapi_db_name: ${db-name}-db
strapi_db_user: ${db-name}-admin
strapi_db_host: ${db-ip}

# Strapi
application_name: ${strapi-app-name}
application_url: ${strapi-url}